<h1>List</h1>
<h2><%= @list.name %></h2>
<ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></p></li>
    <li><%= bookmark.comment %></p></li>
    <% end %>
  </ul>
<div>
  <%= link_to "Back to movies list", lists_path %>
</div>
<div>
  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
</div>
